#controls {
	margin: auto;
    height: 25%;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
	background: #4682B4;
}
#controls #slider-wrapper {
	position: relative;
    height: 25%;
    width: 95%;
    top: 1%;
	left: 1%;
	
}

#controls #button-wrapper {

    position: relative;
    height: 73%;
    width: 95%;
    top: 1%;
    left: 1%;
}

#controls #slider-wrapper input {
  width: 99%;
  height: 20%;
  padding: 1px;
}


#controls button {
    margin: auto;
    padding: 2px;
	height: 25%;
    width: 20%;
	border: 2px solid black;
}

#controls #straight {
    position: absolute;
    left: 40%;
}

#controls #back {
    position: absolute;
    top: 70%;
    left: 40%;
}

#controls #left {
    position: absolute;
    top: 50%;
    left: 10%;
}

#controls #right {
    position: absolute;
    top: 50%;
    left: 70%;
}

.centered {
    position: absolute; /* or absolute */
    top: 20%;
    left: 40%;
}

