
@media (min-width: 111px) {
  /* change this, by default 540px */
   .container {
     max-width: 111px;
  }
}


@media (min-width: 111px) {
  /* change this, by default 720px */
  .container {
  max-width: 111px;
  }
}


@media (min-width: 111px) {
  /* change this, by default 960px */
  .container {
    max-width: 111px;
  }
}


@media (min-width: 111px) {
  /* change this, by default 1140px */
  .container {
    max-width: 111px;
  }
}